<!-- Contact form -->
<!--ToDo: add invalid feedback for wrong email format, see Email is not valid-->
{% macro form(id="",type="text", placeholder="", validation="", label="") %}
  <div class="form-floating">
    <input
      class="form-control"
      id="{{ id }}"
      type="{{ type }}"
      placeholder="Enter your {{ id }}{{ placeholder }} ..."
      data-sb-validations="required{{ validation }}"
    />
    <label for="{{ id }}">{{ label }}</label>
    <div class="invalid-feedback" data-sb-feedback="{{ id }}:required">
      A {{ id }}{{ placeholder }} is required.
    </div>
  </div>
{% endmacro %}
