{% extends "_baseLayout.html" %}
{% import "header.html" as masthead %}
{% import "blog.html" as blog %}

{% block header %}
  <!-- Page Header-->
  {{
    masthead.heading(
    main="Clean Blog",
    sub="A Blog Theme by Start Bootstrap",
    picture="assets/img/home-bg.jpg"
    )
  }}
{% endblock %}

{% block content %}
  <!-- Main Content-->
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {% for b in entriesWithSlug %}
          {{
            blog.post(
              title=b.title,
              sub=b.teaser,
              author=b.author,
              date=b.createdAt
            )
          }}
        {% endfor %}
        <!-- Divider-->
        <hr class="my-4" />
        <!-- Pager-->
        <div class="d-flex justify-content-end mb-4">
          <a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
